* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth; 
}

body {
  background: #e5e5e5;
  font-family: 'Montserrat', sans-serif;
  padding: 40px;
  font-weight: 400;
}
.conteiner {
  width: 1200px;
  background: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
#left-side {
  max-width: 370px;
  min-height: 370px;
  background: #100D10;
  color: #ffffff;
}

.photo {
  width: 370px;
  border-right: 1px #1e2a3a;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  
}

.bio,
.education {
  margin-bottom: 60px;
}

#right-side {
  /* padding: 0px 200px 80px 80px; */
  max-width: 830px;
}


.header__menu, .footer {
  background-color: #ff6b08;
  padding: 45px 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  
}

.menu__body {
  }

.menu__list {
  display: flex;
  align-items: center;
  justify-content:space-between;
  flex-wrap: wrap;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
  }

.menu__item {

}

.menu__link {
  font-weight: 600;
  color: #100D10;
  transition: color 0.3s ease 0s;
  
}
.menu__link:hover {
  color: #fff;
}


.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.footer__left {
  flex: 0 1 33.333%;
  text-align: center
}
.footer__center {
  flex: 0 1 33.333%;
  display: block;
  margin: 0 auto;
}
.footer__right {
  flex: 0 1 33.333%;
}

.footer__logo {
  display: block;
  margin: 0 auto;
}

.footer__create {
  font-weight: 600;
  text-transform: uppercase;
}

.logo-rs {
  width: 100px;
  height: 37px;
}
.logo-rs img{
  width: 100%;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.social-links__item {
  width: 30px;
  height: 30px;
}

.social-links__item img{
  width: 100%;
}


.bio-title {
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 30px;
  font-weight: 700;
}

.bio-occupation {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 30px;
}

.bio-about {
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.bio-title,
.bio-occupation {
  color: #2a2a2a;
}

.projects-link:hover {
  color: #ff6b08;
}

.contacts-title {
  font-size: 22px;
  line-height: 27px;
}

.contact-list {
  list-style: none;
  padding: 0;
}
.contacts-item {
  font-size: 14px;
  line-height: 17px;
}

.contact-link {
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  opacity: 0.6;
  padding-left: 10px;
}

.contact-link-email {
  text-decoration: underline;
  padding-left: 16px;
}

.contact-link:hover {
  opacity: 1;
}

.title {
  font-size: 22px;
  line-height: 22px;
  color: #2a2a2a;
  margin-bottom: 30px;
}



.occupation {
  font-size: 16px;
  line-height: 20px;
  color: #2a2a2a;
  margin-bottom: 16px;
}

.time {
  font-size: 12px;
  line-height: 15px;
  font-feature-settings: 'ordn' on;
  color: #828282;
  margin-bottom: 16px;
}

.accent {
  color: #ff6b08;
}

.skills-title {
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 60px;
}
.skills-title.skills-title-m {
  margin-top: 60px;
}

.skills-item {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 10px;
}

.skills-list {
  list-style: none;
  padding-left: 0;
}

.skills-item::before {
  content: '\2022';
  color: #ff6b08;
  margin-right: 18px;
}

.photo,
.contact,
.skills {
  margin-bottom: 60px;
}

.contact,
.skills {
  padding-left: 40px;
}

.code__link {
  text-decoration: none;
  color: black;
}
.code__link:hover {
  color: red;
}

code pre {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  max-width: 100%;
}

.certificates {
  display: flex;

  justify-content:space-between;
}

.certificates__itea img,
.certificates__netologi img{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.certificates__title {
  text-align: center;
}

.code__title {
  margin: 0;
}

.code__header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-bottom: 30px;
}